
@font-face {
    font-family: "pokemon";
    src: url(./fonts/Pokemon\ Solid.ttf);    
}

@font-face {
    font-family: "cursive";
    src: url(./fonts/OleoScriptSwashCaps-Regular.ttf);    
}
body{
    top: 0;
    margin: 0;
    padding: 0;
}

main {
    background-image: url(./img/fondo.jpg);
    padding-block-start: 5%;
    padding-block-end: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



button {
    background-image: url(./img/btn2.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: pokemon;
    font-size: 20px;
    padding-bottom: 14%;
    font-weight: 900;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: black 2px solid;    
}

h2 {
    font-size: 30px;
}


.fondo {
    background-color: rgb(39, 38, 38);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
    border-radius: 5px;
    padding: 3%;
    border: black solid;

}

.btn_agregar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.ul {
    
    width: 60%;
    padding: 3%;
    margin: 0%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li {
    background-color: rgb(39, 38, 38);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    border:  black solid;
    width: 100%;
    height: 300px;
    padding: 2%;
}


.img {
    width: 250px;
    height: 100%;
}

.Titulo {
    text-align: center;
    font-size: 40px;
    margin: 0%;
    font-family: cursive;
    letter-spacing: 1px;
    word-spacing: -5px;
    color: white;
}

.letraPokemon {
    font-size: 35px; 
    color: yellow;
    -webkit-text-stroke: 2px  rgb(49, 62, 255); 
    font-family: pokemon; 
    letter-spacing: 3px;
    word-spacing: -5px;
}

.letraDescripcion {
    font-family: cursive;
    font-size: 25px;
    margin: 6px;
    color: white;
}

#input-texto {
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    background-color: rgb(211, 208, 208);    
    font-family: cursive;
    border-radius: 10px;

}

#input-texto:focus{
    -webkit-box-shadow: 1px 1px 30px 3px  rgb(129, 6, 6);
    -moz-box-shadow: 1px 1px 30px 3px  rgb(129, 6, 6);
    box-shadow: 1px 1px 30px 3px  rgb(129, 6, 6);
}

